input {
    display: block;
    margin-bottom: 3px;

}
/* If not using focus pseudo-class.
.focus {
    background-color: yellow;
}
*/

input:focus {
    background-color: yellow;
}

.error {
    color: red;
    position: absolute;
    left: 150px;

}

#reset{
    display: inline;
}

