input {
    display: block;
    margin-bottom: 3px;

}

.focus {
    background-color: yellow;
}

/* Can use pure css instead of focus events in javascript.
input:focus {
    background-color: yellow;
}
*/

.error {
    display: inline;
    color: red;
}
